extends layout.pug

block content
  .row
    
    .col-md-8
      
      .panel.panel-default
        .panel-heading Active Posts
        .list-group
          each post in activePosts
            +post(post)
            
    .col-md-4

      .panel.panel-default
        .panel-heading Newest Posts
        .list-group
          each post in newPosts
            .list-group-item
              a.list-group-item-heading(href='/posts/'+post.id) #{post.title}
                
      .panel.panel-default
        .panel-heading Newest Topics
        .list-group
          each topic in newTopics
            .list-group-item
              a.list-group-item-heading(href='/topics/'+topic.id) #{topic.name}
                
      .panel.panel-default
        .panel-heading Newest Users
        .list-group
          each user in newUsers
            .list-group-item
              a.list-group-item-heading(href='/users/'+user.id) #{user.username}
