extends layout.pug

block content
  .container
    .row
      .col-md-8
        .panel.panel-default
          .panel-heading Recently Replied
          .list-group
            each post in posts
              +post(post)
              
      .col-md-4
        .panel.panel-default
          .panel-heading Forum Stats
          table.table.table-bordered
            tr
              td(style='padding-left: 20px') Topics
              td.text-center 15
            tr
              td(style='padding-left: 20px') Posts
              td.text-center 100
            tr
              td(style='padding-left: 20px') Users
              td.text-center 30

        .panel.panel-default
          .panel-heading New Posts
          .list-group
            each post in newPosts
              .list-group-item
                a.list-group-item-heading(href='/topic/'+post.topic_id+'/post/'+post.post_id) #{post.title.substring(0, 40)}...
                  
        .panel.panel-default
          .panel-heading New Topics
          .list-group
            each topic in newTopics
              .list-group-item
                a.list-group-item-heading(href='/topic/'+topic.topic_id) #{topic.name}
                  
        .panel.panel-default
          .panel-heading New Users
          .list-group
            each user in newUsers
              .list-group-item
                a.list-group-item-heading(href='/user/'+user.user_id) #{user.username}
