extends layout.pug

block content
  .container

    - folder = query.folder || 'inbox'
    ul.nav.nav-tabs
      li(class=(folder == 'inbox' ? 'active' : ''))
        a(href='?folder=inbox') Inbox
      li(class=(folder == 'sent' ? 'active' : ''))
        a(href='?folder=sent') Sent
      li(class=(folder == 'archive' ? 'active' : ''))
        a(href='?folder=archive') Archive
      a.btn.btn-primary.pull-right(href='/create?type=message') Send Message
        
    br
    
    .list-group
      each val in [1,2,3,4,5,6,7,8,9,10]
        a.list-group-item(href="/inbox/1")
          h4.list-group-item-heading Message subject goes here
          p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
        
    .row
      .col-xs-4.col-xs-offset-4
        ul.pagination.center-block
            each page in [1,2,3,4]
              li
                a(href='?page='+page) #{page}
  
