html
  head
    title Awesome Forum
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  body
    .navbar.navbar-inverse.navbar-static-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') Forum
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') username
              span.caret
            ul.dropdown-menu
              li
                a Profile
                a Log out
    .container-fluid
      block content
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
