extends layout.pug

block content
    
  .container
    
    .panel.panel-default
      .panel-heading User Information
      .panel-body
        .row
          .col-xs-2
            img.img-circle.center-block(src='https://placehold.it/128/'+colors[0]+'/fff?text='+'U')
          .col-xs-10
            form
              .form-group
                label Username
                input(disabled, value='username').form-control
              .form-group
                label Email Address
                input(disabled, value='username@mail.com').form-control
              button.btn.btn-primary Change Password
    
    .panel.panel-default
      .panel-heading Topics Created
      .list-group
        each val in [1, 2, 3]
          .list-group-item
            a.list-group-item-heading(href='/topic/1') 
              strong Topic

    .panel.panel-default
      .panel-heading Recent Posts
      .list-group
        each val in [1, 2, 3, 4, 5]
          +post({post_id: 1, topic_id: 1, post_title: 'fsdf'})
