extends layout.pug

block content
  
  - let colors = ['f44336','E91E63','9C27B0','673AB7','3F51B5','2196F3','009688']
  
  .container
    
    .panel.panel-default
      .panel-heading User Information
      .panel-body
        .row
          .col-xs-2
            img.img-circle.center-block(src='https://placehold.it/128/'+colors[0]+'/fff?text='+'U')
          .col-xs-10
            form
              .form-group
                label Username
                input(disabled, value='username').form-control
              .form-group
                label Email Address
                input(disabled, value='username@mail.com').form-control
              button.btn.btn-primary Change Password
    
    .panel.panel-default
      .panel-heading Topics Created
      .list-group
        each val in [1, 2, 3]
          a.list-group-item(href='/topic/1')
            h4.list-group-item-heading Topic name goes here
            p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore...


    .panel.panel-default
      .panel-heading Recent Posts
      .list-group
        each val in [1, 2, 3, 4, 5]
          a.list-group-item(href='/topic/1/post/1')
            h4.list-group-item-heading Post title goes here
            p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore...
