extends layout.pug

block content
  
  ol.breadcrumb
    li
      a(href='/') Home
    li.active #{topic.topic_name}
    
  .panel.panel-success
    .panel-heading Stickied Posts
    .list-group
      each val in [1, 2]
        a.list-group-item(href='/topic/'+topic.id+'/post/1')
          h4.list-group-item-heading Post title goes here
          p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore...

  .list-group
    each post in posts
      a.list-group-item(href='/topic/'+post.topic_id+'/post/'+post.post_id)
        h4.list-group-item-heading #{post.post_title}
        p.list-group-item-text #{post.post_text.substring(0, 100)}...
          

      
